* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  margin-left: 80px; /* Adjusted to account for the fixed sidebar */
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  z-index: 1000;
  position: fixed; /* Changed from sticky to fixed */
  left: 0;
  top: 0;
  background: #7ec313;
  color: rgb(2, 0, 0);
  height: 100vh;
  overflow-y: auto;
  width: 80px;
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8px;
}
.logo {
  /* font-size: 18px; */
  line-height: 0;
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 20px;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: rgb(255, 255, 255);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.link {
  display: flex;
  color: rgb(0, 0, 0);
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: #92d829;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  /* background: #2c2c2c; */
}
.link_text {
  white-space: nowrap;
  font-size: 14px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu {
  display: flex;
  color: rgb(0, 0, 0);

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
